/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-sagive-first-block {
	border: 1px dotted #ededed;

	.galleryContainer {
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}

	.ytPlaylistItem {
		&.active {
			position: relative;
			&:after { content: "Current"; background: red; padding: 0px 4px; color: white; border-radius: 3px; position: absolute; bottom: 15px; right: 5px; font-size: 12px; }
		}
	}
}
