/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.sagive-youtube-playlist-gallery {
	.galleryContainer { margin-top: 10px; display: grid; grid-column-gap: 10px; grid-row-gap: 10px; }
	
	.ytPlaylistItem {
		&.active {
			position: relative;
			&:after { content: "Current"; background: red; padding: 0px 4px; color: white; border-radius: 3px; position: absolute; bottom: 15px; right: 5px; font-size: 12px; }
		}
	}

	.responsive-youtube {
		position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
		iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
	}


	.ytPlaylistItem {
		&.active {
			position: relative;
			&:after { content: "Current"; background: red; padding: 0px 4px; color: white; border-radius: 3px; position: absolute; bottom: 15px; right: 5px; font-size: 12px; }
		}
	}
} 